# python stuff
*.py[cod]
.python-version

# vm build
tmp
vm

# images placeholder
img
imgs

# non-regression logs
log*
*.txt

# generated settings
fence-key*
login-key*
ssh_config_*
fence_virt.conf
*fence_xvm.key

# editor
*~
\#*#
.#*
